html {
    // font-size: 62.5%;
}

body {
    background: skyblue;
    text-align: center;
    display: flex;
    flex-direction: column;
    // background-image: url(../assets/abc.png); 
    background-repeat: no-repeat;
}

html, body {
  height: 100%;
}

main {

    flex: 1 0 auto;
    margin-bottom: 35px;

}
.footer {
//   flex-shrink: 0;
}

.main-wrapper {
    max-width: 1280px;
    margin: 0 auto;
    width: auto;
}

@mixin font-size($size-value) {
    font-size: $size-value * 1px;
    font-size: ($size-value / 10) * 1rem;
}

h1 {
    @include font-size(50);
    font-family: 'Frijole', cursive;
    margin: 0;
    margin-top: 10px;
    text-shadow: 5px 5px pink;
}

h2 {
    margin: 0;
    padding-bottom: 20px;
}

h2,h3,p {
    font-family: 'Rubik', sans-serif;
}

.line-through {
    text-decoration: line-through;
}

.fas {
    display: inline;
}

.box {
    border-radius: 10px;
    background: #fff;
    margin: 0 auto;
    padding: 20px;
    width: 80%;
    max-width: 500px;
    box-shadow: 20px 20px 5px 0px pink;
    -webkit-box-shadow: 20px 20px 0px 0px pink;
    -moz-box-shadow: 20px 20px 0px 0px pink;
}

.select-button {
    padding: 5px;
    margin: 5px;

}
input,
button {
    border: none;
    margin: 15px;
    padding: 5px;
    
}


input,
button,
.alphabet-button,
.another-user-example,
.random,
.alphabet
 {
    margin: 0 auto;
    width: 60%;
    background: pink;
    cursor: pointer;
    transition: .2s ease-in;
    border-radius: 10px;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

}

// textarea {
//     background: pink;
// }


input[type="submit"]:hover,
button[type="submit"]:hover,
.alphabet-button:hover,
.another-user-example:hover,
.random:hover,
.alphabet:hover {
    color: black;
    background: #b3b7ee;
}

// form {
//     padding: 10px;
// }

input[type="submit"] {
    margin: 5px 0;
}

input[type="text"]:required:focus {
    border-color: rgba(18, 140, 32, 0.6); /* green */
    outline: 0;
    background: pink;

}

.letter-input {
    width: 25px;
    height: 25px;
    text-align: center;
}

.example {
    display: none;
}

.another-user-example {

}

.hidden {
    display: none;
}

.view {
    display: initial;
}


footer {
    width: 100%;
    background: black;
    color: white;
}

footer p {
    @include font-size(6);
    padding: 3px;
    margin: 0;
}


 @media only screen and (max-width: 645px) {
    
    h1 {
        @include font-size(30);
    }
    input,
    button,
    .alphabet-button,
    .another-user-example,
    .random,
    .alphabet
        {
            width: 75%;
        }

}

 @media only screen and (max-width: 400px) {
    
    h1 {
        @include font-size(25);
    }

    h2 {
        @include font-size(10);
    }

    input,
    button,
    .alphabet-button,
    .another-user-example,
    .random,
    .alphabet
        {
            width: 100%;
        }


}